<% unless resource.errors.empty?
     messages = []
     resource.errors.each do |attr, msg|
       messages << "#{attr.to_s.humanize.sub('.','-')} #{msg}" if resource.errors[attr].first == msg
     end %>
    <div class="row">
      <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <ul class="alert-message">
          <% messages.each do |message| %>
              <li>
                <span><%= message %></span>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        setTimeout(function () {
          $(".alert").fadeOut();
        }, 7500)
      });
    </script>
<% end %>