<div class="form-group">
  <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name of the item' %>
</div>
<div class="form-group">
  <%= f.text_field :quantity, class: 'form-control', placeholder: 'Quantity for ex: 1Kg, 100Gm, 10' %>
</div>
<div class="form-group">
  <%= f.text_field :unit_price, class: 'form-control', placeholder: 'Unit Price of item for ex: 10, 10.50' %>
</div>
<div class="form-group">
  <%= f.submit "Save", class: 'form-control font-size-md submit-btn' %>
</div>