<%= render partial: 'shared/flash', locals: {resource: @item} %>
<div class="row">
  <div class="col-xs-offset-4 col-xs-4 basket-form">
    <%= form_for(@item, html: {}) do |f| %>
        <div class="font-size-md text-center form-header">
          <span>Update Item</span>
        </div>
        <%= f.hidden_field :id, value: @item.id %>
        <%= render 'item', f: f %>
    <% end %>
  </div>
</div>