@import "lib/variables";

body {
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid{
  margin-top: 60px;
}
a{
  text-decoration: none;
  color: $colorLink !important;
  &:hover, &:active, &:visited{
    text-decoration: none !important;
    color: $colorGreen !important;
  }
}
.alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1031;
}