<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header ">
    BigBasket
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
       Sign Out
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</nav>