<nav class="navbar navbar-default navbar-fixed-top font-size-xlg">
  <div class="navbar-header ">
    <%= link_to 'Big Basket', root_path %>
  </div>
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
        </li>
      </ul>
    </div>
  <% end %>
  <div class="clearfix"></div>
</nav>